<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="Student" class="com.pack2.Student">
<constructor-arg name="StudentName" value="nayan" type="java.lang.String"/>
<constructor-arg name="id" value="1" type="int"/>

</bean>
 
 
 <bean id="nayan" class="com.pack2.Student">
<constructor-arg name="id" value="1" type="int"/>

</bean>
 
 
</beans>